/*

   0    - 600px:    Phone
   600  - 900px:    Tablet Portrait
   900  - 1200px:   Tablet landscape
   1200 - 1800px:   is where our normal styles apply
   1800px + :       Big Desktop

*/
/* 
   @mixin respond-phone {
   @media(max-width: 600px) { @content };
} 
*/
/* 
   $breakpoint argument choices:
   - phone
   - tab-port
   - tab-land
   - big-desktop

   1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 57.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  color: #212121;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f0f0f0; }

.h-primary {
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .h-primary {
      font-size: 5rem;
      letter-spacing: .5rem; } }
  .h-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .6rem; }
    @media only screen and (max-width: 37.5em) {
      .h-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .3rem; } }

.h-secondary {
  display: inline-block;
  max-width: 114rem;
  width: 60vw;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .15rem;
  margin: 3rem 0;
  padding: 1.5rem 0;
  border-top: 1px solid #BDBDBD;
  display: inline-block;
  background-image: linear-gradient(to right, #2196f3, #fd5f53);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 37.5em) {
    .h-secondary {
      font-size: 2.5rem;
      letter-spacing: 0rem; } }

.h-tertiary {
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .h-tertiary {
      font-size: 2rem; } }

p {
  font-size: 1.5rem; }

@keyframes elasticalTouch {
  10% {
    transform: scale(0.85, 1.05);
    background-color: #E93A2C; }
  55% {
    transform: scale(1.2, 0.95);
    background-color: #FF8076; }
  100% {
    transform: scale(1);
    background-color: #FD5F53; } }

@keyframes approachingTitle {
  0% {
    opacity: 0;
    transform: translateY(10rem) scale(0.1); }
  50% {
    transform: translateY(-10rem) scale(0.45); }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideDown {
  0% {
    transform: translateY(-160%); }
  100% {
    transform: translateY(0); } }

@keyframes menuDown {
  0% {
    height: 60px; }
  100% {
    height: 18rem; } }

@keyframes slideUp {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-165%); } }

@keyframes menuUp {
  0% {
    height: 18rem; }
  100% {
    height: 60px; } }

@keyframes flipBtn {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(90deg); }
  100% {
    transform: rotateY(180deg); } }

.main-nav {
  grid-column: full-start / full-end;
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(#181818, rgba(24, 24, 24, 0.7) 80%, #1565c0 100%);
  z-index: 10; }
  @media only screen and (max-width: 56.25em) {
    .main-nav {
      height: 6.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .main-nav {
      height: 7.5rem; } }
  .main-nav__list {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .main-nav__list {
        margin-top: .5rem;
        flex-direction: column; } }
  .main-nav__item {
    position: relative;
    padding: 0 1.5rem; }
  .main-nav__item--1::before, .main-nav__item--2::before, .main-nav__item--3::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -.5rem;
    left: -1.25rem;
    height: 0;
    width: calc(100% + 2.5rem);
    border-radius: 2rem;
    transition: all .3s;
    z-index: -1;
    background-image: linear-gradient(45deg, rgba(33, 150, 243, 0.7), rgba(253, 95, 83, 0.7)); }
  .main-nav__item--1:hover::before, .main-nav__item--2:hover::before, .main-nav__item--3:hover::before {
    padding: 2.1rem 0;
    height: 100%; }
  .main-nav__item--1, .main-nav__item--2, .main-nav__item--3 {
    color: #ececec;
    position: relative;
    text-decoration: none;
    font-size: 2.5rem;
    z-index: 1; }
  .main-nav__btn {
    display: none;
    height: 4.5rem;
    width: 4.5rem;
    border: none;
    position: absolute;
    top: .75rem;
    right: 1rem;
    border-radius: 50%;
    background-color: #e7e7e7; }
    .main-nav__btn:focus {
      outline: none; }
    @media only screen and (max-width: 56.25em) {
      .main-nav__btn {
        display: flex;
        justify-content: center;
        align-items: center; } }
  .main-nav__icon {
    height: 3.5rem;
    width: 3.5rem;
    transition: transform .2s; }
    .main-nav__icon--close, .main-nav__icon--menu {
      display: inline-block; }
  .main-nav__btn:hover .main-nav__icon {
    transform: scale(1.15); }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  backface-visibility: hidden;
  border: none;
  cursor: pointer; }

.btn__main, .btn__main:link, .btn__main:visited {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .25s ease;
  position: relative;
  background-color: rgba(21, 101, 192, 0.8);
  color: #f0f0f0;
  opacity: 0;
  animation: fadeIn .5s ease-in .5s forwards; }

.btn__main:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.2); }
  .btn__main:hover::after {
    background-image: linear-gradient(to right, rgba(255, 128, 118, 0.5), rgba(233, 58, 44, 0.5));
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0; }

.btn__main:active {
  outline: none;
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn__main::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s ease-out; }

.cta-btn, .cta-btn:link, .cta-btn:visited {
  padding: 1rem 3rem;
  border-radius: 5rem;
  color: #ececec;
  transition: transform .2s, box-shadow .2s; }

.cta-btn:hover {
  animation: elasticalTouch 0.7s cubic-bezier(0.99, -0.09, 0.55, 1.2);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.cta-btn:active {
  outline: none;
  transform: translateY(0.3rem);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.25); }

.cta-btn--red {
  background-color: #FD5F53; }

.gallery {
  position: relative;
  flex: 0 0 55%;
  height: 0; }
  .gallery > * {
    transition: all .3s ease-out; }
  .gallery__img--1 {
    width: 50%;
    position: absolute;
    top: 3rem;
    left: 4.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.15); }
    .gallery__img--1:hover {
      transform: scale(1.15);
      box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.3);
      z-index: 1; }
  .gallery__img--2 {
    width: 50%;
    position: absolute;
    top: 6rem;
    right: -2rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2); }
    .gallery__img--2:hover {
      transform: scale(1.1);
      box-shadow: 0 0.6rem 5rem rgba(0, 0, 0, 0.4);
      z-index: 1; }
  .gallery__img--3 {
    width: 55%;
    position: absolute;
    top: 20rem;
    left: 15rem;
    box-shadow: 0 0.3rem 4rem rgba(0, 0, 0, 0.3); }
    .gallery__img--3:hover {
      transform: scale(1.1);
      box-shadow: 0 0.6rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
  .gallery:hover *:not(:hover) {
    transform: scale(0.9); }

.card {
  display: flex;
  align-content: center;
  justify-content: center; }
  .card:not(:last-of-type) {
    margin-bottom: 5rem; }
  .card__s1, .card__s2 {
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    flex: 0 1 35%; }
  .card__description {
    padding: 2.5rem;
    padding-right: 1.5rem;
    text-align: left; }

.contact__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none; }
  .contact__list :not(:last-of-type) {
    margin-right: 5rem; }

.contact__icon--mail, .contact__icon--github {
  width: 5rem;
  height: 5rem; }

.contact__email, .contact__github {
  font-style: normal;
  font-size: 1.6rem; }

.contact__link:link, .contact__link:visited {
  text-decoration: none;
  display: inline-block;
  backface-visibility: hidden;
  transition: all .2s;
  transform-origin: left;
  display: inline-block;
  background-image: linear-gradient(to left, #2196f3, #fd5f53);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.contact__link:hover, .contact__link:active {
  transform: scale(1.1);
  display: inline-block;
  background-image: linear-gradient(to right, #2196f3, #fd5f53);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.animation__slideIn {
  animation: slideIn 1s cubic-bezier(0.67, -0.03, 0.39, 1.39) forwards; }

.animation__slideDown {
  animation: slideDown 0.5s cubic-bezier(0.67, -0.03, 0.39, 1.39) forwards; }

.animation__menuDown {
  animation: menuDown 0.5s cubic-bezier(0.67, -0.03, 0.39, 1.39) forwards; }

.animation__slideUp {
  animation: slideUp 0.5s cubic-bezier(0.67, -0.03, 0.39, 1.39) forwards; }

.animation__menuUp {
  animation: menuUp 0.5s cubic-bezier(0.67, -0.03, 0.39, 1.39) forwards; }

.animation__flipBtn {
  animation: flipBtn .3s ease-in-out; }

.u-center-text {
  text-align: center !important; }

.u-center-block {
  margin: 0 auto !important; }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-m {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-m {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-l {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-l {
      margin-bottom: 5rem !important; } }

.u-margin-top-s {
  margin-top: 2rem !important; }

.u-margin-top-m {
  margin-top: 4rem !important; }

.u-margin-top-l {
  margin-top: 8rem !important; }

.u-margin-top-xl {
  margin-top: 10rem !important; }

.u-sticky {
  position: fixed; }

.u-hidden {
  display: none !important; }

.u-oppacity-0 {
  opacity: 0; }

.header {
  grid-column: main-start / main-end;
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(21, 101, 192, 0.8), rgba(253, 95, 83, 0.7)), url(../vendors/img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: grid;
  grid-template-columns: [full-start] 1fr [main-start] repeat(8, [col-start] minmax(min-content, calc(114rem / 8)) [col-end]) [main-end] 1fr [full-end];
  grid-template-rows: repeat(4, 1fr);
  align-items: start; }
  .header__heading {
    color: #e7e7e7;
    grid-column: col-start 2 / span 6;
    grid-row-start: 2; }
  .header__btn {
    grid-column: col-start 4 / col-end 5;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    max-width: 25rem; }
  .header__animation {
    opacity: 0;
    animation: approachingTitle .6s ease-in forwards; }

.sec-aboutme {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }

.aboutme-content {
  padding: 1rem 4rem;
  margin-top: -1rem;
  text-align: left;
  display: flex;
  height: 45rem; }
  .aboutme-content__text {
    padding: 3rem;
    align-self: center; }

.sec-works {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 5rem; }

.sec-contact {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }

.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: auto;
  padding-right: auto;
  background-image: linear-gradient(rgba(231, 231, 231, 0.9), rgba(24, 24, 24, 0.8) 15%, #181818); }
  .footer__note {
    max-width: 114rem;
    margin: 0 auto;
    color: #ececec;
    word-spacing: .12rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #90CAF9;
    transition: all .25s;
    position: relative;
    z-index: 1; }
  .footer__link::before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in; }
  .footer__link:hover, .footer__link:active {
    color: #E93A2C; }
  .footer__link:hover::before, .footer__link:active::before {
    background-color: #96cfdd;
    width: 100%;
    z-index: -1; }
