@keyframes elasticalTouch {
   10% {
      transform: scale(.85, 1.05);
      background-color: $color-secondary-dark;
   }
   75% {
      transform: scale(1.2, .95);
      background-color: $color-secondary-light;
   }
   100% {
      transform: scale(1);
      background-color: $color-secondary;
   }
}

@keyframes approachingTitle {
   0% {
      opacity: 0;
      transform: translateY(10rem) scale(0.1);
   }

   50% { transform: translateY(-10rem) scale(0.45); }

   100% {
      opacity: 1;
      transform: translateY(0) scale(1);
   }
}

@keyframes fadeIn {
   0% { opacity: 0; }

   100% { opacity: 1; }
}

@keyframes slideIn {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes slideDown {
   0% {
      transform: translateY(-100%);
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes slideUp {
   0% {
      transform: translateY(0);
   }

   100% {
      transform: translateY(-100);
   }
}