// Buttons ////////////////////////
.btn{
   &,
   &:link,
   &:visited {
      display: inline-block;
      font-size: $default-font-size;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all .25s ease;
      backface-visibility: hidden;
      position: relative;
      border: none;
      cursor: pointer;
   }

   &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 1.6rem rgba($color-black, .2);

      &::after {
         transform: scaleX(1.3) scaleY(1.6);
         opacity: 0;
      }
   }

   &:active {
      outline: none;
      transform: translateY(.1rem);
      box-shadow: 0 .5rem .8rem rgba($color-black, .2);
   }
   &::after {
      // Creating effect
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s ease-out;
   }

   &--main {
      background-color: rgba($color-primary-dark, .8);
      color: $color-white;
      &::after { background-image: linear-gradient(to right, rgba($color-secondary-light, .5), rgba($color-secondary-dark, .5)); }
   }
}


// Gallery ////////////////////////
.gallery {
   position: relative;
   flex: 0 0 55%;
   // height: 0 to make gallery section cover by image only, meanly used for effect
   height: 0;

   & > * { transition: all .3s ease-out; }

   &__img--1 {
      width: 50%;
      position: absolute;
      top: 3rem;
      left: 4.5rem;
      box-shadow: 0 .2rem 3rem rgba($color-black, .15);

      &:hover {
         transform: scale(1.15);
         box-shadow: 0 .6rem 4rem rgba($color-black, .3);
         z-index: 1;
      }
   }

   &__img--2 {
      width: 50%;
      position: absolute;
      top: 6rem;
      right: -2rem;
      box-shadow: 0 .2rem 3rem rgba($color-black, .2);

      &:hover {
         transform: scale(1.1);
         box-shadow: 0 .6rem 5rem rgba($color-black, .4);
         z-index: 1;
      }
   }

   &__img--3 {
      width: 55%;
      position: absolute;
      top: 20rem;
      left: 15rem;
      box-shadow: 0 .3rem 4rem rgba($color-black, .3);

      &:hover {
         transform: scale(1.1);
         box-shadow: 0 .6rem 5rem rgba($color-black, .5);
         z-index: 1;
      }
   }

   &:hover *:not(:hover) {
      transform: scale(.9);
   }
}

// Card ////////////////////////


