///////// Header section ////////
.header{
   grid-column: main-start / main-end;
   max-width: 100vw;
   height: 100vh;
   background-image: linear-gradient(to bottom right, rgba($color-primary-dark, .8), rgba($color-secondary, .7)), url(../vendors/img/hero-background.jpg);
   background-size: cover;
   background-position: center;
   text-align: center;

   display: grid;
   grid-template-columns: [full-start] 1fr [main-start] repeat(8, 
                           [col-start] minmax(min-content, calc(114rem / 8)) [col-end]) 
                           [main-end] 1fr [full-end];
   grid-template-rows: repeat(4, 1fr);
   align-items: start;
   
   
   &__heading {
      color: $color-white-1;
      grid-column: col-start 2 / span 6;
      grid-row-start: 2;
   }

   &__btn {
      grid-column: col-start 4 / col-end 5;
      grid-row-start: 3;
      justify-self: center;
      align-self: center;
      max-width: 25rem;
   }
}


///////// About Me section ////////
.sec-aboutme {
   max-width: $sec-default-width;
   margin: 0 auto;
   text-align: center;
}

.aboutme-content {
   padding: 1rem 4rem;
   margin-top: -1rem;
   text-align: left;
   display: flex;
   height: 45rem;

   &__text {
      padding: 3rem;
      align-self: center;
   }
}

///////// About Me section ////////

.sec-works {
   text-align: center;
}