// COLOR ///////////////////////////////
$color-primary: #2196F3;
$color-primary-light: #90CAF9;
$color-primary-dark: #1565C0;

$color-secondary: #FD5F53;
$color-secondary-light: #FF8076;
$color-secondary-dark: #E93A2C;

$font-primary: #212121;
$font-secondary: #757575;
$font-tertiary: #ececec;
$sec-divider: #BDBDBD;

$color-black: #000000;

$color-white: #f0f0f0;
$color-white-1: #e7e7e7;

// Size /////////////////////////////////
$sec-default-width: 114rem;
$default-font-size: 1.6rem;
